manifest {
    name = 'Dandrea Legionella analysis'
    description = "Workflow for the the Legionella analsis"
    version = '0.1.0'
    author = 'Abhinav Sharma <abhi18av@outlook.com>; Emilyn Costa Conceição <emilyncosta@outlook.com>'
    mainScript = 'main.nf'
    defaultBranch = 'master'
}


profiles {
    standard {
        docker.enabled = true

        process {
            errorStrategy = 'ignore'
            withName:
            ".*" {
                cpus = 8
                memory = "15 GB"
            }
        }

    }

    aws_batch {
        aws.client.uploadMaxThreads = 4
    }

    google_cloud_life_sciences {
        process.executor = 'google-lifesciences'
        workDir = 'gs://nextflow-gcp-bucket/legionella_dandrea/work'
//        google.region = 'us-central1'
        google.project = 'nextflow-gcp-303117'
//      google.lifeSciences.preemptible = true
        google.zone = 'us-central1-f'

        process {
            errorStrategy = 'retry'
            maxRetries = 2

            withName:
            ".*" {
                cpus = 8
                memory = "15 GB"
            }
        }
    }
}

