params {
    outdir = "${baseDir}/results_stub"
    reads = "${baseDir}/data/mock_data/*_{R1,R2}*.fastq.gz"
    reference_fasta = "${baseDir}/data/mock_data/NZ_CP013742.1.fasta"
    kraken2_db = "${baseDir}/data/mock_data/mock_kraken_db_dir"
}

process {
    withName:
    ".*" {
        container = "ubuntu:20.04"
        cpus = 2
        memory = "2 GB"
    }
}
